/*==========================UNIVERSAL==============================*/
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
/*==========================HEADER==============================*/
.head {
  background-color: white;
  height: 3.55rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 20;
  width: 100%;
  padding: 0 1.5rem;
}
.logo a {
  display: flex;
  align-items: center;
  height: 2rem;
  color: black;
  text-decoration: none;
}
.colmar {
  font-weight: bold;
  opacity: 0.8;
}
.academy {
  opacity: 0.4;
}
.desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.desktop a {
  padding-right: 1.5rem;
  color: black;
  opacity: 0.8;
  text-decoration: none;
}
.desktop a:hover {
  color: orange;
}
nav li {
  margin-right: 1.5rem;
}
.mobile {
  display: none;
}
/*=============================JUMBOTRON============================*/
/*For this project, since the jumbotron and the info/news section has
quite the same layout, the padding of each will be the same. Also its better
to set padding for the container div and then 2 child div. Found out it
is easier to break the section into small parts and set padding for each
part than to try to set padding for the whole container*/
.jumbotron {
  background-color: #d8d8d8;
  padding-top: 3.55rem;
  display: flex;
  width: 100%;
  height: auto;
}
.jumbotron-photo {
  width: 60%;
  padding: 2rem 1.5rem;
}
.jumbotron-photo img {
  width: 100%;
  height: auto;
  display: flex;

}
.jumbotron-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-weight: bold;
  width: 40%;
  padding: 2rem 1rem auto 1rem;
}
.jumbotron-text h1 {
  font-size: 3rem;
}
.jumbotron-text p{
  font-size: 1.5rem;
}
button {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 0.5rem 2rem;
  width: 95%;
  margin-top: 1.5rem;
  text-align: center;
  font-weight: normal;
  font-size: 1rem;
}
button:hover {
  background-color: green;
}
/*===================================NEWS=================================*/
.news {
  background-color: white;
  width: 100%;
  display: flex;
  height: auto;

}
.feature {
  width: 60%;
  padding: 2rem 1.5rem;
  border-right: 1px solid black;
}
.news img {
  display: flex;
  width: 100%;
}
.news .feature-text {
  width: 100%;
  left: 1rem;
}
.feature-text h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 2rem;
}
.feature-text p {
  margin-top: 2rem;
  font-size: 0.9rem;
}
.feature-text h4 {
  margin-top: 3rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.other-news {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem 1rem auto 1rem;
}
.info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  border-bottom: 1px solid black;

}
.info-photo-mobile {
  display: none;
}
.other-news .info:last-child {
  background-color: #d8d8d8;
}
.info-photo {
  padding: 2rem 1rem 1rem 1rem;
  width: 35%;
  height: auto;
}
.info-text {
  width: 65%;
}
.info-text h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
.info-text p {
  font-size: 0.9rem;
}
.info-text a{
  text-decoration: none;
}
/*===================================COURSES=================================*/
.course-contain {
  background-color: #d8d8d8;
}
.course-contain h1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  padding: 2rem 0;
}
.courses {
  display: flex;
  flex-flow: row wrap;
  margin: 0 4.5rem 0 4.5rem;
  justify-content: space-around;
}
.course {
  display: flex;
  width: 28%;
  flex-direction: column;
  background-color: white;
  margin-bottom: 2rem;
}
.course-photo img {
  width: 100%;
  height: auto;
}
.course-text {
  padding: 1rem 1rem 1.5rem 1rem;
}
.course-text h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
.course-text h3 {
  font-size: 1.1rem;
}
.course-text p {
  font-size: 0.9rem;
}

/*===============================THESIS EXHIBIT================================*/
.thesismain {
  background-color: white;
}
.thesismain h1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  padding: 2rem 0;
}
.thesis-content {
  display: flex;
  /*margin-top: 0;*/
  width: 100%;
  height: auto;
}
.feature-thesis-container {
  width:60%;
  padding: 0 1.5rem 2rem 1.5rem;
  flex-direction: column;
}
.feature-thesis-video video {
  width: 100%;
  height: auto;
  display: flex;
  padding-bottom: 1.5rem;
}
.feature-thesis-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.feature-thesis-text h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}
.feature-thesis-text p {
  font-size: 0.9rem;
}
.other-thesis {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
.thesis {
  /*width: 100%;*/
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
}
.fisma {
  background-color: #d8d8d8;
}
.thesis-photo {
  width: 35%;
  margin-right: 1rem;
}
.thesis-photo img {
  width: 100%;
  height: auto;
}
.thesis-text {
  width: 65%;
}
.thesis-text h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
.thesis-text p {
  font-size: 0.9rem;
}
/*===============================FOOTER================================*/
footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 1px solid black;
}
.copyright {
  display: flex;
}
.footer ul {
  display: flex;
  flex-direction: row;
}
.footer a {
  color: black;
  text-decoration: none;
}
.footer a:hover {
  color: orange;
}
/*===============================MEDIA QUERIES================================*/
/*======================TABLET======================*/
@media only screen and (max-width: 810px) {
  .head {     /*======================HEADER======================*/
    display: block;
    margin: 0;
    padding: 0;
  }
  .logo {
    display: none;
  }
  .desktop {
    display: none;
  }
  /*.head nav {
    width: 100%;
  }*/
  nav .mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }

  .jumbotron { /*======================JUMBOTRON======================*/
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .jumbotron-photo {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .jumbotron-photo img {
    display: flex;
    width: 100%;
  }
  .jumbotron-text {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  button {
    margin: 1rem auto;
  }
  .news {    /*======================NEWS======================*/
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .feature {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .feature-photo {
    display: flex;
    width: 100%;

  }
  .feature-photo img {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .feature-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    /*padding-left: 1rem;*/
  }
  .other-news {
    display: flex;
    width: 100%;
    border-top: 1px solid black;
    margin-top: 1.5rem;
  }
  .thesis-content {  /*====================THESIS====================*/
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .feature-thesis-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .feature-thesis-video {
    display: flex;
    width: 100%;
  }
  .feature-thesis-video video {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .feature-thesis-text {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    /*padding-left: 1rem;*/
  }
  .other-thesis {
    display: flex;
    width: 100%;
  }
}
/*======================MOBILE======================*/
@media only screen and (max-width: 480px){
  .jumbotron-text {
    margin: 2rem auto;
  }
.jumbotron-text p {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
 bottom {
  margin-bottom: 2rem;
}

.news {
  display: flex;
  width: 100%;
}
.feature {
  display: none;
}
.other-news {
  display: flex;
  /*flex-direction: column;*/
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  /*width: 100%;*/
}
.info-photo {
  display: none;
}
.info-photo-mobile {
  display: block;
  padding: 1rem;
}
.info-photo-mobile img {
  display: block;
  width: 100%;
}
.info-text {
  width: 100%;
  text-align: center;
}

.course-contain {
  /*background: green;*/
}

.courses {
  /*background: yellow;*/
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  margin: 0 1rem 1rem 1rem;
  text-align: center;
}

.course {
  /*background: pink;*/
  width: 100%;
  margin: 1rem 0;
}

.course-photo {
  display: none;
}
.course-text {
  width: 100%;
  text-align: left;
}

.course-text h2 {
  width: 100%;
}
.course-text h3 {
  display: none;
}
.course-text p {
  display: none;
}
.other-thesis {
  display: none;
}
.feature-thesis-text {
  display: none;
}
.feature-thesis-video video {
  padding-bottom: 0px;
}
.footer {
  display: none;
}
}
